*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Old NewsPaper Types';
    src: url('fonts/OldNewspaperTypes.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Veteran Type Writer';
    src: url('fonts/VeteranTypeWriter.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #0d1012;
    --white: #f4f4f4;
    --blood-red: #640D14;
}

body {
    background-color: var(--main-color);
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Old NewsPaper Types', sans-serif;
    color: var(--white);
}

h1, h2 {
    font-family: 'Veteran Type Writer', sans-serif;
    font-size: 3rem;
}

h2 {
    display: inline-block;
    padding: 6px 10px; 
    background-color: var(--blood-red);
    font-size: 1.5rem;
}

select {
  background-color: #1a1a1a;
  color: white;
  
  border-radius: 5px;
  padding: 5px;
}

.logo {
   text-align: center;
}

.recap {
    text-align: right;
    margin-right: 20px;

    h1 {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
    }

}