*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Old NewsPaper Types';
    src: url('fonts/OldNewspaperTypes.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Veteran Type Writer';
    src: url('fonts/VeteranTypeWriter.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #0d1012;
    --white: #f4f4f4;
    --blood-red: #640D14;
}

body {
    background-color: var(--main-color);
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Old NewsPaper Types', sans-serif;
    color: var(--white);
}

h1, h2 {
    font-family: 'Veteran Type Writer', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    background-color: var(--blood-red);
}

select {
  background-color: var(--main-color);
  color: var(--white);
  
  border-radius: 5px;
  padding: 5px;
}


/* Full screen sections */
.page {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PAGE 1 - Video */
#intro-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-title {
  font-size: 3em;
  text-align: center;
  color: white;
}

/* PAGE 3 - Stats */
.stats-page .stats {
  text-align: center;
}
.big-number {
  font-size: 3em;
  color: #ff4b4b;
}

/* PAGE 4 & 5 - Chart + texte layout */
.chart-page {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
}

.chart-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#bar-graph-container {
  align-self: flex-end;
}


.text-left, .text-right {
  flex: 1;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.chart-right { order: 2; }
.text-left { order: 1; }
