*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #0d1012;
    --white: #f4f4f4;
    --blood-red: #640D14;
}

body {
    background-color: var(--main-color);
    background-image: url("img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}